*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #1d005a 0%, #8220ef 100%);
}
.backSvg{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}
.wave{
    filter:
    drop-shadow(0 10px 20px black)
    opacity(50%);
}

.loginSession{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center ;
    flex-direction: column;
    align-items: center;
    top: 200px;
}
.inputs input{
    height: 50px;
    width: 75vw;
    border-radius: 15px;
    background-color: rgba( 0,0,0, 50%);
    box-shadow: 0 0 15px  #d3b3f8,
                inset 0 0 10px  #ebe1f6;
    color: white;
    padding-left: 15px;
    outline: none;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.inputs h2{
    color: #d3b3f8;
    margin: 0 0 10px 20px;
}
.inputs input:focus{
    box-shadow: 0 0 15px  #3b3b3b,
                inset 0 0 10px  #5c5c5c;
}

.add{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add a{
    color: #b97ffc;
    text-decoration: none;
}
.add button{
    color: white;
    margin-top: 20px;
    height: 60px;
    width: 150px;
    background-color: #c500ff;
    border-radius: 15px 30px 15px 30px;
}
.add button:hover{
    scale: 105%;
    box-shadow: 0 0 25px black;
    cursor: pointer;
    transition: all 100ms;
}