*{
    margin: 0;
    padding: 0;
    border:0;
}

body{
    height: 100vh;
    width: 100vw ;
    background: linear-gradient(-45deg, #1d005a 0%, #8220ef 100%);
}
header{
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0, 20%);
}

/* TODO: fazer forma diferenciada e adicionar background */
#cabecalho{
    height: 40vh;
    width: 100vw;
}
#cabecalho div{
    display: flex;
    height: 100%;
    align-items: flex-end;
    background-color: azure;
}
#cabecalho div div{
    height: 100px;
    width: 50vw;
}
#cabecalho div > div:nth-child(1) {
    border-radius: 50px 100px 0px 0px;
    background-color: aqua;
}
#cabecalho div > div:nth-child(2) {
    background-color: rgb(8, 58, 58);
}

#signinup-buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
#signinup-buttons h2{
    color: white;
}
.loginButton{
    height: 60px;
    width: 150px;
}
#signIn{
    background-color: #c500ff;
    border-radius: 15px 30px 15px 30px;
}
#signUp{
    background-color: #9389bd;
    border-radius: 30px 15px 30px 15px;
}
#logins-methods{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
}
.login-method-img{
    height: 50px;
    width: 50px;
}