* {
  margin: 0;
  padding: 0;
  border: 0;
}

header{
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
header .content{
  display: flex;
  justify-content: end;
  margin: 10px;
  position: relative;
  max-height: 50px;
  align-items: center;
}
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #1d005a 0%, #8220ef 100%);
}

body {
  background: linear-gradient(253deg, #1d005a, #9d48fd);
  /* background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1); */
  background-size: 200% 200%;
  -webkit-animation: Background 25s ease infinite;
  -moz-animation: Background 25s ease infinite;
  animation: Background 10s ease infinite;
}
@-webkit-keyframes Background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
main{
  z-index: 2;
}
#cabecalho {
  height: 40vh;
  width: 100vw;
}
svg path {
  filter: drop-shadow(0px 10px 20px #000) opacity(50%);
}
#signinup-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
#signinup-buttons h2 {
  color: white;
}
.loginButton:hover{
  cursor: pointer;
}
.loginButton {
  height: 60px;
  width: 150px;
}
#signIn {
  background-color: #c500ff;
  border-radius: 15px 30px 15px 30px;
}
#signUp {
  background-color: #9389bd;
  border-radius: 30px 15px 30px 15px;
}
#logins-methods {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin-top: 15px;
}
.login-method-img {
  height: 50px;
  width: 50px;
}
